
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}
h1, h2 {
    color: blue;
    border-bottom: 1px solid #929CA4;
    width: 100%;
}

.features {
    color:#CC1C0D; 
    font-weight: bold;  
}

p:first-of-type::first-letter {
    font-size: 30px;
}

.testimonial1 {
    font-style:italic;
    margin-left: 50px;
}

.testimonial2 {
    font-style:italic;
    margin-left: 50px;
}

a:link {
    color:red; 
}

a:hover {
   color:green; 
   text-decoration: none;
}

ul li{
    list-style-type:none; 

}

li:nth-of-type(1){
    color:blue; 
}

li:nth-of-type(5) {
    color:red; 
}